extends ../layouts/layout

block content
    h1 Settings
    p You can configure your deploy script through configuration files
        span.code=' Sanelotto_local.json '
        | on local machine and
        span.code=' Sanelotto_server.json '
        | on server. Let's look at all properties at these files.
    h3 Sanelotto_local/Sanelotto_local.json
    ul
        li
            b='name '
            | — name of your project.
        li
            b='server '
            | — IP address of your server.
        li
            b='ssh_key '
            | — whether to use a authentication through SSH-key? true/false
        li
            b='login '
            | — your login on server.
        li
            b='pass '
            | — your password on server. When 'ssh_key: true' this property is irrelevance.
        li
            b='before_start_commands '
            | — do you need to execute commands from
            span.code=' before.slfile '
            | before connection to server? true/false
        li
            b='before_start_dir '
            | — directory containing the
            span.code=' before.slfile'
            | .
        li
            b='use_sudo '
            | — whether to use 'sudo' before all commands? true/false
        li
            b='logging '
            | — whether to save all logs to text files? true/false
        li
            b='server_dir '
            | — directory on server containing the
            span.code=' Sanelotto_server'
            |.
    h3 Sanelotto_server/Sanelotto_server.json
    ul
        li
            b='name '
            | — name of your project.
        li
            b='github_user '
            | — username on GitHub.
        li
            b='github_repo '
            | — name of repository on GitHub.
        li
            b='branch '
            | — branch on your repository. 'Master' by default.
        li
            b='rewrite_configs '
            | — overwriting some files in project after downloading or updating through GitHub. true/false
        li
            b='configs_dir '
            | — directory containing the files for overwriting. Default: 'app'
        li
            b='first_commands '
            | — use system commands after first downloading from GitHub. true/false.
        li
            b='start_commands '
            | — use system commands after first downloading and updating from GitHub. true/false
        li
            b='stop_commands '
            | — use system commands after updating from GitHub. true/false
        li
            b='use_sudo '
            | — whether to use 'sudo' before all commands? true/false
        li
            b='logging '
            | — whether to save all logs to text files? true/false
        li
            b='commands_dir '
            | — directory containing
            span.code=' .slfile '
            | files with commands. Default: 'files'

    p Keep in mind that configuration
        span.code=' .json '
        | files must be located in
        span.code=' Sanelotto_local '
        | or
        span.code=' Sanelotto_server '
        | directories. You must run command
        span.code=' sanelotto start [TYPE] '
        | from directory that contains
        span.code=' Sanelotto_local '
        | or
        span.code=' Sanelotto_server '
        | , not configuration file. Example:
    h3 Path on local machine
    p
        span.code='/home/username/apps/myproject/Sanelotto_local/Sanelotto_local.json'
    p
        | You must run
        span.code=' sanelotto start local '
        | from
        span.code=' myproject '
        | directory.
    p
        | Property 'server_dir' in
        span.code=' Sanelotto_local.json '
        | must contains absolutely path on server to directory, contained the
        span.code=' Sanelotto_server '
        |. Example:
    h3 Path on server
    p
        span.code='/home/username/apps/myproject/Sanelotto_server/Sanelotto_server.json'
    p
        | In local machine file
        span.code=' Sanelotto_local.json '
        | must contains line
    p
        span.code='"server_dir": "/home/username/apps/myproject/"'
    p Now you can learn more about
        a(href='/overwriting') Overwriting
        | .