extends ../layouts/layout

block content
    h1 Install
    p You can install Sanelotto on any Linux-based system.
    h2 Dependencies
    ul
        li Python 3.x
        li git
    h2 Download
    p First of all, download latest version Sanelotto.
    a(href="/sanelotto_installer_2_2.sh" download)
        article.btn.btn-success.btn-primary.btn-lg Version 2.2
    h2 Installing
    p For installing you must have right to write in
        span.code=' /usr/local/bin/ '
        | and
        span.code=' /usr/share/'
        | . If you do not have these right, use 'sudo'.
    p Start
        span.code=' sanelotto_installer_[version].sh '
        | through terminal. After start console will display installing process. It does not take a lot of time.
    p Or you can install Sanelotto through Python Package Manager (pip):
        span.code=' pip3 install sanelotto'
        | .
    p='If there was no errors, you can move to '
        a(href="/start.html").inline_a start
        |.